<!DOCTYPE html>
<html lang="en">
<head>
    

   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->

    <link rel="stylesheet" href="./css/style.css?v=0.1">   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300i,400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <title>Unibase</title>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">





    </head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light position-absolute w-100 ">
        <div class="container">
          <div class="d-flex justify-content-between w-100 align-items-center">
            <div class="logo">
                <img src="./images/logo.jpg" width="80px" height="80px" alt="">
            </div>
            <div class="menu">
       
             <a href="#whyus" class="mx-3"><span class="qwp">Почему мы?</span></a>
              <a href="#ques" class="mx-3"><span class="qwp">FAQ</span></a>
            </div>
    
        
          </div>
          
        </div>
      </nav>
</header>




<!--
<div class="banner">
    <img src="./images/intro.jpg" width="100%" alt="">
</div>
-->


<div class="banner " style="padding-top:200px;">
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 text-center">
           
              <!--  
            <div class="text43" style=" text-align: center; ">
                <p class="lop2">[Демо-релиз. Полная версия сайта будет запущена в Июне 2020 года.]</p>
            </div>
            -->
            <div class="lop text43 display-1 font-bold white-text" style=" text-align: center; ">
                <p class="lop">Найди Свой Университет</p>
            </div>
                <hr class="mj" width="20%">
<!--
                <a class="btn btn-dark btn-lg " href="#menu09 _back3" role="button">Меню</a>
                -->
            </div>
        </div>
       
    </div>

</div>


<div class="container">
    <div class="menu09 _back3">
        <div class="grants " style=" margin:50px auto;">

            <h1 class="jol8" style="text-align: center;"><span class="kop">Меню</span></h1>
    
        </div>


            <div class="text43" style=" text-align: center; margin:50px auto;">
                <p class="jol12">Выберите направление, а мы выберем вам университет</p>
            </div>
    
    </div>


  


    <div class="uni3">
      <div class="row">
        <div class="col-sm">
            <div class="about_item " style="margin-top: 20px;">
                <div class="about_img ">
                    <img src="/./images/kz3.jpg" width="100% " alt="">
                </div>
                <div class="about_text">10 ведущих университетов</div>
                <h1 class="jjk">Казахстан</h1>
                <a class="btn btn-dark btn-lg" href="/univers/list/kz" role="button">Подробнее</a>
            </div>
        </div>
            <div class="col-sm">
                <div class="about_item" style="margin-top: 20px;">
                    <div class="about_img">
                        <img src="/./images/us.jpg" width="100% " alt="">
                    </div>
                    <div class="about_text">50 лучших университетов</div>
                <h1 class="jjk">США</h1>
                <a class="btn btn-dark btn-lg" href="/univers/list/usa" role="button">Подробнее</a>
            </div>
        </div>

    <div class="col-sm">
        <div class="about_item" style="margin-top: 20px;">
        <div class="about_img">
            <img src="/./images/ow.jpg" width="100% " alt="">
        </div>
        <div class="about_text">10 популярных университетов</div>
        <h1 class="jjk">Остальной Мир</h1>
        <a class="btn btn-dark btn-lg" href="/univers/list/world" role="button">Подробнее</a>
    </div>
  </div>
</div>

   





<div id="whyus" class="whyus" style=" padding-top:100px;">

    <div class="grants " style=" margin:30px auto;">

        <h1 class="jol8" style="text-align: center;"><span class="kop2">Почему мы?</span></h1>
        <hr class="mj" width="10%">

    </div>

    <div class="time _back54">
        <div class="time1">
        <p class="asd">Экономим ваше время</p><i class="far fa-clock"></i>
        </div>
        <div class="time2">
        <p class="asd"> Вы перестанете тратить кучу времени на сортировку ненужной информации и сравнение различных вузов между собой.</p>
        </div>
    </div>

    <div class="time _back54">
        <div class="time1">
        <p class="asd">Только достоверная информация</p>
        </div>
        <div class="time2" >
        <p class="asd"> Информация по каждому университету берется с официальных сайтов и подкрпеляется ссылками при необходимости.</p>
        </div>
    </div>




    <div class="time _back54">
        <div class="time1">
        <p class="asd">Только нужная информация</p>
        </div>
        <div class="time2">
        <p class="asd"> Мы акцентируем ваше внимание, только на информации, которая будет необходима при поступлении в определенные университеты.</p>
        </div>
    </div>
</div>



<div id="ques" class="ques">
    <div class="grants " style=" margin:30px auto;">

        <h1 class="jol10" style="text-align: center;"><span class="kop6">Часто задаваемые вопросы:</span></h1>
        <hr class="mj" width="10%">
    </div>
    <div class="accord">
        <div class="accord_item" id="q1">
           <a class="accord_link" href="#q1"> 
               Какую информацию содержат университеты в вашей базе?
               <i class="icon ion-md-add"></i>
               <i class="icon ion-md-remove"></i>
           </a>
            <div class="answer"><p>
                Университеты нашей базы содержат:<br>
                ● Краткую информацию об университете<br>
                ● Нужные факты<br>
                ● Требования к поступлению<br>
                ● Гранты предоставляемые университетом<br>
                ● Цену обучения и прочих расходов<br>
                ● Факультеты и специальности<br>
                ● Контакты университета<br>
                </p>
            </div>
        </div>
        
        <div class="accord_item" id="q2">
           <a class="accord_link" href="#q2">
               Правда ли что вся информация связана с поступлением именно международных студентов?
               <i class="icon ion-md-add"></i>
               <i class="icon ion-md-remove"></i>
           </a> 
            <div class="answer">
                <p>Да, мы предоставляем информацию касательно поступления международных студентов, потому что, как оказалось, многие ресурсы обнадеживают абитуриентов, давая им информацию для внутреннего рынка.</p>
            </div>
        </div>
            
        <div class="accord_item" id="q3">
           <a class="accord_link" href="#q3">
               Что означает демо-релиз?
               <i class="icon ion-md-add"></i>
               <i class="icon ion-md-remove"></i>
           </a> 
            <div class="answer">
                <p>Сайт не был доработан до конца, но мы решили его запустить, по причине того что вся информация касающееся университетов полностью готова.</p>
            </div>
        </div>
            
        <div class="accord_item" id="q4">
           <a class="accord_link" href="#q4">
               Будете ли вы увеличивать количество университетов?
               <i class="icon ion-md-add"></i>
               <i class="icon ion-md-remove"></i>
           </a> 
            <div class="answer">
                <p>Да, к началу лета 2020 года наша база будет содержать информацию по более чем 120 популярных мировых университетов.</p>
            </div>
        </div>
            
        <div class="accord_item" id="q5">
           <a class="accord_link" href="#q5">
               Сколько университетов есть в вашей базе на данный момент?
               <i class="icon ion-md-add"></i>
               <i class="icon ion-md-remove"></i>
           </a> 
            <div class="answer">
                <p>На данный момент в базе содержится информация про 48 американских, 10 казахстанских и 5 университетов остального мира.</p>
            </div>
        </div>   
    </div>
    </div>
</div>
</div>
<footer>
    <div class="foot">
        <div class="row text-center"> 
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4">
                <p class="text-light copy">© All Right Reserved. Unibase Inc.</p>
                <p class="text-light ">e-mail us: info@unibase.kz</p><br>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>

</footer>




 </body>
 </html>
